version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    expose:
      - "8000"
    env_file:
      - ./backend/.env
      
  web:
    build: ./frontend
    container_name: frontend-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
